<div class="max-w-4xl mx-auto p-6">
  <app-job-filter
    [companies]="uniqueCompanies"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-job-filter>

  <h1 class="text-3xl font-bold mb-4">Job Search</h1>

  <!-- <div class="flex flex-col sm:flex-row gap-4 mb-4">
    <input
      [(ngModel)]="query"
      (keyup.enter)="searchJobs()"
      placeholder="Search jobs (e.g., Angular Developer)"
      class="flex-1 p-3 border rounded"
    />

    <select
      [(ngModel)]="selectedLocation"
      (change)="searchJobs()"
      class="p-3 border rounded w-full sm:w-64"
    >
      @for (location of locations; track location) {
        <option [value]="location">{{ location }}</option>
      }
    </select>

    <button
      (click)="searchJobs()"
      class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
    >
      Search
    </button>
  </div> -->

  @if (loading()) {
    <div class="space-y-4">
      @for (i of [1, 2, 3, 4]; track i) {
        <app-skeleton-card></app-skeleton-card>
      }
    </div>
  } @if (!loading() && jobs().length === 0) {
    <div class="text-gray-500">No jobs found.</div>
  } @for (job of jobs(); track job) {
    <app-job-card [job]="job"></app-job-card>
  }

  <div #anchor class="flex justify-center items-center py-6">
    <div
      *ngIf="loadingMore()"
      class="w-6 h-6 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"
    ></div>
  </div>
</div>
